# --- Dotfiles ----------------------------------

!.*

# --- Dependencies ------------------------------

node_modules

# --- Logs --------------------------------------

.turbo

# --- Compiled ----------------------------------

build
tmp

# --- Coverage ----------------------------------

coverage
