# --- Dependencies ------------------------------

node_modules

# --- Caches ------------------------------------

.eslintcache
.yarn-cache

# --- Logs --------------------------------------

logs

# --- Build -------------------------------------

coverage
build
