# --- Dependencies ------------------------------

**/node_modules

# --- Logs --------------------------------------

**/.turbo

# --- Caches ------------------------------------

**/.yarn-cache

# --- Build -------------------------------------

**/build
