# --- Dependencies ------------------------------

**/node_modules

# --- Caches ------------------------------------

.eslintcache
.stylelintcache

# --- Compiled ----------------------------------

.astro
.contentlayer
dist
lib
!**/src/lib
!configurations/**/lib
