{
  "name": "%title",
  "short_name": "%appname",
  "description": "%description",
  "lang": "en-GB",
  "start_url": "/",
  "theme_color": "%theme",
  "background_color": "%theme",
  "display": "standalone",
  "icons": [
    {
      "sizes": "192x192",
      "src": "/android-chrome-192x192.png",
      "type": "image/png"
    },
    {
      "purpose": "maskable",
      "sizes": "512x512",
      "src": "/android-chrome-512x512.png",
      "type": "image/png"
    }
  ]
}
