.wrapper {
  padding-bottom: spacing(3);
  border-bottom: unit(1) solid $palette--white;
  margin-bottom: spacing(3);
}

.headline {
  position: relative;
}

.meta-information {
  display: flex;
  flex-direction: row;
  column-gap: spacing(3);
  user-select: none;
}

.meta-information-item {
  display: flex;
  flex-direction: row;
  column-gap: spacing(1);
}
