// stylelint-disable color-no-hex

// --- Neutrals ---------------------------------

$palette--black: #111;

$palette--transparent: rgba(0, 0, 0, 0);

$palette--white: #fff;

// --- Greys ------------------------------------

$palette--grey-400: #41403f;

$palette--grey-500: #181818;

// --- Greens -----------------------------------

$palette--green-500: #1b9b51;

$palette--green-600: #167c41;
