@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/roboto-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/roboto-900.woff2') format('woff2');
}
