# Dependencies
# -----------------------------------------------

node_modules

# Caches
# -----------------------------------------------

.eslintcache
.stylelintcache

# Build
# -----------------------------------------------

.next
