# --- Dependencies ------------------------------

node_modules

# --- Caches ------------------------------------

.eslintcache
.stylelintcache

# --- Compiled ----------------------------------

.next
out
public/humans.txt
public/site.webmanifest
public/sitemap.xml
public/sw.js
src/types/icon.ts

# --- Coverage ----------------------------------

coverage
