# --- Dependencies ------------------------------

node_modules

# --- Caches ------------------------------------

.eslintcache
.rollup.cache
.stylelintcache

# --- Build -------------------------------------

.next
coverage
out
public/sw.js
