{
  servers :443 {
    protocol {
      experimental_http3
    }
  }
}

{$APP_SERVER_DOMAIN} {
  encode gzip

  header -Server

  header {
    Access-Control-Allow-Headers *

    Access-Control-Allow-Methods *

    Access-Control-Allow-Origin https://{$APP_WEB_CLIENT_DOMAIN}

    Content-Security-Policy default-src

    Permissions-Policy interest-cohort=()

    Referrer-Policy no-referrer-when-downgrade

    Strict-Transport-Security max-age=31536000;

    X-Content-Type-Options nosniff

    X-Frame-Options DENY
  }

  reverse_proxy node:{$NODE_PORT}
}

localhost:80 {
  reverse_proxy node:{$NODE_PORT}
}
