{
  servers :443 {
    protocol {
      experimental_http3
    }
  }
}

{$APP_SERVER_DOMAIN} {
  log {
    output file /var/log/server.log
    format single_field common_log
  }

  header {
    -Server

    Access-Control-Allow-Headers "*"

    Access-Control-Allow-Methods "*"

    Access-Control-Allow-Origin "https://{$APP_WEB_CLIENT_DOMAIN}"

    Content-Security-Policy "default-src 'self'"

    Permissions-Policy "interest-cohort=()"

    Referrer-Policy "no-referrer-when-downgrade"

    Strict-Transport-Security "max-age=31536000; includeSubDomains"

    X-Content-Type-Options "nosniff"

    X-Frame-Options "DENY"

    X-XSS-Protection "1; mode=block"
  }

  encode zstd gzip

  reverse_proxy node:{$NODE_PORT}
}

www.{$APP_WEB_CLIENT_DOMAIN} {
  redir https://{$APP_WEB_CLIENT_DOMAIN}{uri} permanent
}

{$APP_WEB_CLIENT_DOMAIN} {
  @StaticCachedFiles {
    path *.css *.gif *.jpeg *.jpg *.js *.json *.png *.svg *.webp *.woff *.woff2
  }

  root * /home/web-client/build

  log {
    output file /var/log/client.log
    format single_field common_log
  }

  header {
    @StaticCachedFiles Cache-Control "public, max-age=31536000, must-revalidate"

    -Server

    Content-Security-Policy "default-src 'self' 'unsafe-inline' {$APP_SERVER_DOMAIN}"

    Permissions-Policy "interest-cohort=()"

    Referrer-Policy "no-referrer-when-downgrade"

    Strict-Transport-Security "max-age=31536000; includeSubDomains"

    X-Content-Type-Options "nosniff"

    X-Frame-Options "DENY"

    X-XSS-Protection "1; mode=block"
  }

  try_files {path}.html {path}

  encode zstd gzip

  push

  file_server {
    precompressed br gzip
  }

  handle_errors {
    rewrite * /{http.error.status_code}.html

    file_server {
      precompressed br gzip
    }
  }
}

localhost:80 {
  reverse_proxy node:{$NODE_PORT}
}
