html {
  font-size: 62.5%;
}

body {
  background-color: $palette--white;
  color: $palette--black;
  font-family: $type--sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: unit(0.05);
}
