# --- Dependencies ------------------------------

node_modules

# --- Caches ------------------------------------

.eslintcache

# --- Environment variables ---------------------

.env

# --- Migrations --------------------------------

!*.sql
