@layer base {
  ul {
    display: flex;
    flex-direction: column;
    gap: theme('gap.1');

    &:not(:last-child) {
      margin-bottom: theme('margin.4');
    }
  }

  li {
    padding-left: theme('padding[0.5]');
    line-height: theme('lineHeight.normal');
  }
}
