# --- Dependencies ------------------------------

node_modules

# --- Caches ------------------------------------

.eslintcache

# --- Compiled ----------------------------------

.astro
dist
public/fonts
