# --- Dependencies ------------------------------

node_modules

# --- Caches ------------------------------------

.eslintcache

# --- Compiled ----------------------------------

.next
.swc
public/sitemap.xml
public/sw.js

# --- Coverage ----------------------------------

coverage
