// --- Roboto -----------------------------------

@font-face {
  font-display: optional;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-400.woff2') format('woff2');
}

@font-face {
  font-display: optional;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/roboto-900.woff2') format('woff2');
}

// --- Excelsior --------------------------------

@font-face {
  font-display: optional;
  font-family: Excelsior;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/excelsior-400.woff2') format('woff2');
}
