// --- Kanit ------------------------------------

@font-face {
  font-display: optional;
  font-family: Kanit;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ka-300.woff2') format('woff2');
}

@font-face {
  font-display: optional;
  font-family: Kanit;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/ka-600.woff2') format('woff2');
}

// --- Excelsior --------------------------------

@font-face {
  font-display: optional;
  font-family: Excelsior;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ex-400.woff2') format('woff2');
}
