.wrapper {
  position: relative;
  z-index: -2;
  max-width: unit(1440);
  height: min(90vh, unit(720));
  margin: 0 auto;
  background-color: $palette--grey-500;
  background-image: url('/ui/background.svg');
  background-position: center;
  background-size: unit(200);
}

.gradient {
  height: min(90vh, unit(720));
  padding: spacing(2);
  background-image: linear-gradient($palette--transparent 55%, $palette--black);

  &::before,
  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 10%;
    height: 100%;
    content: '';
    pointer-events: none;
  }

  &::before {
    left: 0;
    background-image: linear-gradient(270deg, $palette--transparent, $palette--black);
  }

  &::after {
    right: 0;
    background-image: linear-gradient(450deg, $palette--transparent, $palette--black);
  }
}
