---
import Container from '@pbbg/ui/lib/components/atoms/container';
import HTML from '@/web/layouts/html.astro';
import Head from '@/web/layouts/head.astro';
import MDXContent from '@pbbg/ui/lib/components/utilities/mdx-content';
import { allPosts } from '@pbbg/content/.contentlayer/generated';

const { slug } = Astro.params;
const post = allPosts.find((post) => post.slug === slug && post.status !== 'DRAFT');

if (!post) {
  return new Response(null, { status: 404 });
}
---

<HTML>
  <Head slot='head' />
  <Container type='content'>
    <h1>{post.headline}</h1>
    <MDXContent code={post.body.code} />
  </Container>
</HTML>
