import %!name from '@/web/components/%type/%name';
import type { %!nameProps } from '@/web/components/%type/%name';
import type { StoryFn } from '@storybook/react';

export default {
  component: %!name,
  title: 'Components/%!type/%!name',
};

export const Default: StoryFn<%!nameProps> = (args) => <%!name {...args} />;

Default.args = {};
