@layer base {
  a,
  a:active,
  a:visited {
    color: theme('colors.red.500');
    font-weight: theme('fontWeight.bold');
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
