---
import HTML from '@/web/layouts/html.astro';
import Head from '@/web/layouts/head.astro';
import { doesUserHaveValidSession } from '@/web/utilities/authentication';

if (!(await doesUserHaveValidSession(Astro.request))) {
  return Astro.redirect('/');
}
---

<HTML>
  <Head robots={['noindex', 'nofollow']} slot='head' />
  <div>Hello, world!</div>
</HTML>
