---
import Container from '@pbbg/ui/lib/components/atoms/container';
import HTML from '@/web/layouts/html.astro';
import Head from '@/web/layouts/head.astro';
import MDXContent from '@pbbg/ui/lib/components/utilities/mdx-content';
import { allAuxiliaries } from '@pbbg/content/.contentlayer/generated';

const { slug } = Astro.params;
const auxiliary = allAuxiliaries.find((auxiliary) => auxiliary.slug === slug);

if (!auxiliary) {
  return new Response(null, { status: 404 });
}
---

<HTML>
  <Head slot='head' />
  <Container type='content'>
    <h1>{auxiliary.title}</h1>
    <MDXContent code={auxiliary.body.code} />
  </Container>
</HTML>
